@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600;800&family=Nabla&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

:root {
    /* Color scheme in light mode */
    --color-0l-100: rgba(255, 255, 255, 1);
    --color-1l-100: rgba(22, 38, 47, 1);
    --color-1l-50: rgba(22, 38, 47, 0.5);
    --color-2l-100: rgba(141, 191, 201, 1);
    --color-2l-50: rgba(141, 191, 201, 0.5);
    --color-3l-100: rgba(251, 249, 217, 1);
    --color-3l-50: rgba(251, 249, 217, 0.5);
    --color-4l-100: rgba(228, 187, 97, 1);
    --color-4l-50: rgba(228, 187, 97, 0.5);
    --color-5l-100: rgba(166, 0, 0, 1);
    --color-5l-50: rgba(166, 0, 0, 0.5);

    /* Color scheme in dark mode */
    --color-0d-100: rgba(200, 200, 200, 1);
    --color-1d-100: rgba(40, 66, 80, 1);
    --color-1d-50: rgba(100, 136, 150, 0.5);
    --color-2d-100: rgba(57, 107, 117, 1);
    --color-2d-50: rgba(57, 107, 117, 0.5);
    --color-3d-100: rgba(184, 182, 150, 1);
    --color-3d-50: rgba(184, 182, 150, 0.5);
    --color-4d-100: rgba(128, 93, 0, 1);
    --color-4d-50: rgba(255, 221, 143, 0.5);
    --color-5d-100: rgba(83, 0, 0, 1);
    --color-5d-50: rgba(255, 102, 102, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
button,
select,
option,
input,
textarea {
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    color: var(--color-1l-100);
}

h1,
h2,
h3 {
    text-align: center;
}

h1,
h2 {
    margin: 15px 0;
}

h3 {
    margin: 10px 0;
}

ul li {
    list-style-type: none;
}

i {
    font-size: .8rem;
    color: inherit;
    padding: 3px;
    display: inline-flex;
    align-items: center;
}

i::before {
    line-height: 0;
}

button,
select {
    margin-bottom: 5px;
    background-color: var(--color-3l-100);
    border: 3px solid var(--color-2l-100);
    padding: 5px;
    height: 100%;
    cursor: pointer;
}

button+button {
    background-color: var(--color-3l-100);
    border: 3px solid var(--color-4l-100);
}

button a {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    width: 100%;
    background-color: var(--color-0l-100);
    border: 3px solid var(--color-2l-100);
    padding: 3px;
}

input:focus,
textarea:focus,
select[data-chosen] {
    outline: none;
}

input:focus,
textarea:focus {
    border: 3px solid var(--color-5l-100);
}

input[type="submit"] {
    width: 50%;
    cursor: pointer;
    margin: 0 25%;
    padding: 5px;
}

.flex {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.wrapper-full {
    width: 100%;
}

.wrapper-half {
    width: calc(49% + 3px);
}

.path-line {
    position: relative;
}

.path-line::before {
    content: "<";
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: -2.4rem;
    left: -.2rem;
    font-size: 2rem;
    color: var(--color-4l-100);
}

.path-line::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: -20px;
    border: 2px dashed var(--color-4l-100);
}

.path {
    width: 24%;
    min-height: 200px;
}

.path+.path {
    margin-left: 1%;
}

.path-first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flat-block {
    padding: 10px;
    background-color: var(--color-3l-100);
    border: 3px solid var(--color-2l-100);
    box-shadow: -6px 6px 0 var(--color-1l-100);
    transform: translate(3px, -3px);
    transition: .3s;
}

.flat-block:hover,
.flat-block:active {
    box-shadow: none;
    transform: translate(0, 0);
    transition: .3s;
}

.flat-block-2 {
    padding: 10px;
    background-color: var(--color-3l-100);
    border: 3px solid var(--color-4l-100);
    transition: .3s;
}

.flat-block-2:hover,
.flat-block-2:active {
    box-shadow: -6px 6px 0 var(--color-5l-100);
    transform: translate(3px, -3px);
    transition: .3s;
}

.inline-list {
    display: inline;
}

.inline-list li {
    display: inline-block;
    margin-bottom: 5px;
}

.inline-list li.odd {
    border: 3px solid var(--color-2l-100);
}

.inline-list li.even {
    border: 3px solid var(--color-4l-100);
}

.highlight-title {
    background-color: var(--color-2l-50);
    border: 3px solid var(--color-2l-100);
    padding: 3px;
}

.highlight-title-2 {
    background-color: var(--color-4l-50);
    border: 3px solid var(--color-4l-100);
    padding: 3px;
}

.button-link {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    text-align: center;
    padding-top: 10px;
}

.dash {
    border-top: 3px dashed var(--color-2l-100);
}

.dash-2 {
    border-top: 3px dashed var(--color-4l-100);
}

.content {
    margin: 10px 0;
}

.hidden {
    display: none !important;
}

body {
    background-color: var(--color-0l-100);
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

span {
    display: inline;
}

span h4 {
    display: inline;
}

span.grade {
    font-size: 1.2rem;
    color: var(--color-5l-100);
    font-weight: 600;
}

header {
    display: flex;
    position: fixed;
    padding: 0 2%;
    margin: 0 5%;
    margin-top: 10px;
    width: 90%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header #name {
    font-family: 'Nabla', cursive;
    text-shadow: var(--color-0d-100) 1px 0 10px;
    font-size: 2rem;
}

header #name a {
    text-decoration: none;
    color: none;
}

header #menu a {
    color: inherit;
    text-decoration: none;
}

header #menu a+a {
    margin-left: 20px;
}

header #switcher {
    display: flex;
}

header #switcher .switcher-inner+.switcher-inner {
    margin-left: 10px;
}

header #switcher #mode-switcher {
    display: flex;
    cursor: pointer;
}

header #switcher #mode-switcher i {
    font-size: 1.2rem;
    border: 3px solid var(--color-2l-100);
}

header #switcher #mode-switcher i::before {
    margin: auto;
}

header #mobile {
    margin-left: 10px;
    display: none;
    position: relative;
}

header #mobile>i {
    height: 100%;
    font-size: 1.2rem;
    border: 3px solid var(--color-2l-100);
    cursor: pointer;
}

header #mobile #mobile-menu {
    margin-left: 10px;
    padding: 5px;
    position: absolute;
    top: 60px;
    right: -10px;
    background-color: var(--color-3l-100);
    border: 3px solid var(--color-2l-100);
    box-shadow: -6px 6px 0 var(--color-1l-100);
}

header #mobile #mobile-menu a {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 30px;
    text-decoration: none;
    color: inherit;
    border-bottom: 3px dashed var(--color-2l-100);
}

main section {
    padding: 8%;
}

main section h2 {
    border: 3px solid var(--color-4l-100);
}

main .inner-section {
    margin-bottom: 5%;
}

main #intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-3l-100);
    position: relative;
    overflow: hidden;
}

main #intro::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: center no-repeat url("/assets/backgrounds/hero-background.png");
}

main #intro div.container {
    width: 60%;
    text-align: center;
}

main #intro #intro-content h1 {
    position: absolute;
    font-size: 16rem;
    text-transform: uppercase;
    top: 20%;
    left: -20%;
    width: 140%;
    transform: rotate(-10deg);
    color: transparent;
    -webkit-text-stroke: 3px var(--color-2l-50);
    z-index: 1;
}

main #intro #intro-content div.content {
    position: relative;
    z-index: 1;
    background: transparent;
    opacity: .5;
}

main #intro #intro-content div.content:hover {
    opacity: 1;
    background-color: var(--color-3l-100);
}

main #intro #intro-content div.content * {
    opacity: 0;
    transform: translateX(-100%);
    transform-origin: left;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

main #intro #intro-content div.content:hover * {
    opacity: 1;
    transform: translateX(0);
}

main #intro #intro-content div.content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: center no-repeat url("/assets/backgrounds/hero-background.png");
    filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

main #intro #intro-content div.content:hover::before {
    display: none;
}

main #intro #intro-content div.content button {
    margin-top: 10px;
}

main #resume {
    background-color: var(--color-3l-50);
}

main #resume #my-objective {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

main #resume #my-objective p {
    max-height: 100px;
    overflow-y: auto;
}

main #resume #my-objective p::-webkit-scrollbar {
    display: none;
}

main #resume #my-objective span {
    font-size: 2rem;
    position: relative;
}

main #resume #my-objective span.left {
    bottom: 25px;
    right: 15px;
}

main #resume #my-objective span.right {
    top: 25px;
    left: 15px;
}

main #resume #my-feature {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    z-index: 1;
    position: relative;
    height: 150px;
}

main #resume #my-feature .feature {
    width: 200px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

main #resume #my-feature .feature+.feature {
    margin-left: 10px;
}

main #resume #my-feature .feature .count {
    font-size: 3rem;
    margin: auto;
    margin-top: -2.5rem;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--color-5l-100);
    background-color: var(--color-3l-100);
    border: none;
}

main #resume #my-info {
    padding: 3%;
    position: relative;
    overflow: hidden;
}

main #resume #my-info::after {
    content: "";
    position: absolute;
    bottom: -20%;
    right: -10%;
    width: 50%;
    height: 100%;
    background-image: url("../assets/images/doraemon-deco.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

main #resume #my-info #info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

main #resume #my-info #info-list li span {
    width: 65%;
    display: inline-block;
    padding: 3px;
    background-color: var(--color-2l-50);
    overflow: hidden;
}

main #qualification {
    background-color: var(--color-3l-100);
}

main #qualification #my-education {
    width: 100%;
}

main #qualification #my-skill div.item-inner {
    margin: 10px 0;
}

main #qualification #my-certification div.carousel .carousel-inner {
    padding: 10px;
    display: flex;
    overflow-x: auto;
}

main #qualification #my-certification div.carousel .carousel-inner a {
    padding: 10px;
    cursor: pointer;
}

main #qualification #my-certification div.carousel .carousel-inner a.odd img {
    border: 3px solid var(--color-2l-100);
}

main #qualification #my-certification div.carousel .carousel-inner a.even img {
    border: 3px solid var(--color-4l-100);
}

main #qualification #my-certification div.carousel .carousel-inner a img {
    max-height: 300px;
    height: auto;
}

main #experience {
    background-color: var(--color-3l-50);
}

main #experience #my-career {
    display: flex;
    width: 100%;
}

main #experience #my-career div.content ul li {
    list-style-type: "> ";
    margin-left: 20px;
}

main #experience #my-career div.content ul li+li {
    margin-top: 5px;
}

main #portfolio {
    background-color: var(--color-3l-100);
}

main #portfolio div.wrapper-full {
    display: flex;
    justify-content: space-between;
}

main #portfolio div.wrapper-full .project {
    width: 24%;
    position: relative;
    min-height: 250px;
}

main #portfolio div.wrapper-full .project h4 {
    text-align: center;
}

main #portfolio div.wrapper-full .project div.content {
    margin-bottom: 60px;
    overflow-y: auto;
}

main #contact {
    background-color: var(--color-3l-50);
}

main #contact div.wrapper-full {
    display: flex;
}

main #contact #contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
}

main #contact #contact-info .contact-box {
    width: 48%;
    height: 45%;
    position: relative;
}

main #contact #contact-form {
    padding: 0 100px;
}

main #contact #contact-form #name-input {
    display: flex;
    justify-content: space-between;
}

main #contact #contact-form .form-group+.form-group {
    margin-top: 10px;
}

main #contact #contact-form .form-half {
    width: 48%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: .7rem;
}